@import "variables";

.footer {
  justify-content: space-around;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $text-size * 8;
    text-decoration: underline;
  }
}
