@import "variables";

.rfilter {
  margin: 1rem;
  &__title {
    font-family: $main-font;
    margin-left: 1rem;
    padding-top: $page-title-padding;
    text-decoration: $title-decor;
    text-align: center;
    font-size: $title-size;
  }
}

.rhero {
  width: $view-port;
  align-self: stretch;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  box-sizing: border-box;

  &__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("images/png2jpg/chocolate-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-align: center;
  }

  &__text--p {
    font-family: $main-font;
    color: $white;
    font-size: $title-size;
    box-sizing: border-box;
    text-align: center;
    padding: 10rem;
  }
}
.rgrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    border: 0.15rem solid $dark-grey;

    &--title {
      font-size: $title-size;
      text-decoration: $title-decor;
      color: $dark-grey;
      padding-top: $page-title-padding;
    }
    &--image {
      padding: 0 1rem;
    }
    &--subt {
      text-align: center;
      color: $light-gray;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &--ul {
      list-style: square;
    }
    &--li {
      color: black;
      text-justify: center;
    }
  }
}
