/* Resets*/
* {
  margin: 0px;
  padding: 0;
}

html {
  font-family: "Zen Loop", cursive;
  background-color: #f2eeed;
}

body {
  width: 100vw;
  height: 100vh;
}
/* Contacto */
.contact__main {
  position: relative;
}
.contact__main--title {
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Zen Loop";
}
.contact__main--text {
  font-size: 20px;
  margin: 0;
  padding: 16px;
  font-family: "Raleway" bold;
  font-weight: 100;
}
.contact__form {
  display: block;
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 32px;
  margin-bottom: 16px;
}

.contact__form--labels {
  font-size: 48px;
}

.contact__form--buttons {
  padding: 48px;
  margin: 8px;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 19.2px; /* Some padding */
  border: 1.6px solid #ccc; /* Gray border */
  border-radius: 6.4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 9.6px; /* Add a top margin */
  margin-bottom: 25.6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: rosybrown;
  color: white;
  padding: 19.2px 32px;
  border: none;
  border-radius: 6.4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #333;
}
/* Style the submit button with a specific background color etc */
input[type="reset"] {
  background-color: rosybrown;
  color: white;
  padding: 19.2px 32px;
  border: none;
  border-radius: 6.4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="reset"]:hover {
  background-color: #333;
}
